h1,h2,h3,h4,h5{
  font-family: "Playfair Display", serif;
}
p,span,li{
  font-family: "Poppins", sans-serif;
}

.background-img{
  background-image: url('./images/banner-img.avif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  background-color: #17a2b8 ;
  transition: background-color 0.3s ease;
  transform:scale(1.05);
}
.card:hover .card-body {
  color: #fff; 
}
.card:hover .card-body i {
  color: #fff !important; 
}
.category-image {
  position: relative;
  height: 200px; 
  background-size: cover; 
  background-position: center;
  height:300px;
}

.button-container {
  position: absolute;
  bottom: 190px;
  left: 0;
  right: 0;
  text-align:right;
}
.testimonial-img {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  object-fit: cover; 
  display: block; 
  margin: 0 auto;

}
.testimonial-footer-line{
  border-top: 2px solid lightseagreen; 
    margin-top: 20px; 
}


